@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home";
}

<!--<body class="ml-2 mt-1">-->
<!-- Name -->
<h1 class="ml-2 mt-1">Heber Robertson</h1>
<div class="ml-5 mb-5 mt-2">


    <!-- Image of me dirtbiking -->
    <img src="/img/IMG_20201003_172958573.jpg" style="max-width:250px;width:100%" />

    <!-- expectations -->
    <h2>What I wish to gain from IS 413:</h2>
    <p>
        I hope to get more practice with a strongly typed language. I would also like to improve my coding abilities and efficiency. Most of all I am excited for the challenge.
    </p>
    <!-- Jobs -->
    <h2>Jobs I'm interested in:</h2>
    <ul>
        <li>Software Engineering</li>
        <li>Web Developer</li>
        <li>Data Analyst</li>
    </ul>

</div>

<!--</body>-->
